.header {
    width: 100%;
    height: 100px;
    background-color: rgb(209, 227, 253);
    
    .wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-nav {
        ul {
            padding: 0;
            list-style: none;
            display: inline-flex;
            
            li {
                margin-left: 20px;
                
                &:first-child {
                    margin-left: 0;
                }
            }
            
        }
        
    }
}